*{
    padding: 0;
    margin: 0;

}
.main-box{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:url("../phptos/photos/zhila.necklace.jpeg") ;
    background-position: top;
    background-size: cover;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    background-color: white;
    margin: 7% auto;
    padding:  0.3rem ;
}
.button-box{
    width: 220px;
    margin: 2.2rem auto;
    position: relative;
    border-radius: 1.8rem;
    font-size: 1rem;
    box-shadow: 0 0 3rem 0.5rem #6CBBA9 ;
    
}
.toggle-btn{
    position: relative;
    padding: 0.6rem 1.8rem;
    background: transparent;
    border: 0;   
    outline: none;
    cursor: pointer;
}
#account-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    border-radius: 1.8rem;
background-image: linear-gradient(to right, #6CBBA9, #5EB4D9);
}


